@model IEnumerable<Emart.Models.Template>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>choosetemplate</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TemplateName)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
               <img src="@item.ipath" height=450 width=500/>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TemplateName)
            </td>
            <td>
                @Html.ActionLink("Select", "selecttemplate", new { id=item.TemplateId }) |
              
            </td>

            <td>
                <a href="@Url.Action("@item.TemplateName", "Demo")" class="elements">
                    <span>Demo</span>
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
